<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft2erp.erp.system.code.CommonCodeMapper">

    <select id="findCommonCodes"
            parameterType="com.soft2erp.erp.system.code.CommonCodeSearchCondition"
            resultType="com.soft2erp.erp.system.code.CommonCodeDto">
        select
            code_group,
            code,
            code_name,
            description,
            use_yn,
            sort_order,
            extra_value1,
            extra_value2
        from sys_common_code
        where 1 = 1
        <if test="codeGroup != null and codeGroup != ''">
            and code_group = #{codeGroup}
        </if>
        <if test="useYn != null and useYn != ''">
            and use_yn = #{useYn}
        </if>
        order by code_group, sort_order, code
    </select>

</mapper>

